@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "themes/orange";

body {
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
    background: var(--bg-color);
}

.app_redesigned {
    min-height: 100vh;
    background: var(--bg-redesigned);
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned);
    border-radius: 20px;
    border: 2px solid var(--accent-redesigned);
}

.app *::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--card-bg);
}

.app *::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}

// .tiptap {
//     padding: 5px;
//     margin-top: 20px;
//     border: none;
//     outline: 2px solid var(--icon-redesigned);
//     border-radius: 10px;

//     &:focus {
//         outline: 2px solid var(--accent-redesigned);
//     }

//     > * + * {
//         margin-top: 0.75em;
//     }

//     ul,
//     ol {
//         padding: 0 1rem;
//     }

//     li {
//         list-style-type: unset;
//     }

//     code {
//         background-color: rgba(#616161, 0.1);
//         color: #616161;
//     }

//     pre {
//         background: #0d0d0d;
//         color: #fff;
//         font-family: JetBrainsMono, monospace;
//         padding: 0.75rem 1rem;
//         border-radius: 0.5rem;

//         code {
//             color: inherit;
//             padding: 0;
//             background: none;
//             font-size: 0.8rem;
//         }
//     }

//     img {
//         max-width: 100%;
//         height: auto;
//     }

//     blockquote {
//         padding-left: 1rem;
//         border-left: 2px solid var(--accent-redesigned);
//     }

//     hr {
//         border: none;
//         border-top: 2px solid var(--accent-redesigned);
//         margin: 2rem 0;
//     }
// }
