.Code {
    padding: 30px 20px 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.copyBtn {
    position: absolute;
    right: 5px;
    top: 5px;
}

.copyIcon path {
    stroke: var(--primary-color);
}

.Icon {
    &:hover {
        color: var(--accent-redesigned);
    }
}
