.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-with);
    background: var(--inverted-bg-color);

    position: relative;
    transition: width ease-out 0.3s;
}

.collapsed {
    width: var(--sidebar-with-collapsed);
}

.swithcers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}