.item {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.link {
    visibility: visible;
    opacity: 1;
    margin-left: 10px;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
}

.item:first-child {
    margin-top: 0;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        visibility: hidden;
        opacity: 0;
        transition: all linear 0.1s;
        width: 0;
    }
}
