.Icon {
    color: var(--icon-redesigned);
}

.disabled .Icon {
    color: grey;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.disabled.button {
    cursor: auto;
}

.button:hover .Icon {
    color: var(--accent-redesigned);
}

.disabled.button:hover .Icon {
    color: grey;
}
