.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 30px;
}

.links,
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 1em;
}

.appName {
    width: 12em;
    margin-left: 15px;
}

.NavbarRedesigned {
    padding: 16px;

    .iconLink {
        padding-top: 1px;
    }

    .createIcon {
        &:hover,
        &:focus {
            color: var(--accent-redesigned);
        }
    }
}
