.Navbar,
.NavbarNoAuth {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 30px;

    .Theme {
        margin: 4px;
    }
}

.NavbarNoAuth {
    justify-content: space-around;
}

.Navbar {
    .links,
    .actions {
        margin-left: auto;
    }
}

.mainLink {
    margin-right: 1em;
}

.appName {
    width: 12em;
    margin-left: 15px;
}

.NavbarRedesigned,
.MobileNavbarRedesigned,
.MobileNavbarRedesignedNoAuth {
    padding: 16px;
    display: flex;

    .iconLink {
        padding-top: 1px;
    }

    .createIcon {
        &:hover,
        &:focus {
            color: var(--accent-redesigned);
        }
    }
}

.MobileNavbarRedesigned {
    justify-content: space-between;

    .actions {
        margin-left: auto;
    }

    .Theme {
        height: 26px;
    }

    .Lang {
        padding-bottom: 5px;
    }
}

.MobileNavbarRedesignedNoAuth {
    justify-content: space-between;

    .AppLogo {
        width: 150px;
    }
}

.iconLinkDeprecated {
    height: 24px;
}

.createIconDeprecated {
    width: 18px;
    height: 18px;
}
