.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;

    &.topRight {
        bottom: 100%;
        left: 0;
    }

    &.topLeft {
        right: 0;
        bottom: 100%;
    }

    &.bottomRight {
        top: 100%;
        left: 0;
    }

    &.bottomLeft {
        top: 100%;
        right: 0;
    }
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}
