.MobileLayout {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "content";
    grid-template-rows: min-content 1fr;
}

.content {
    grid-area: content;
    width: 100%;
    padding: 72px 32px 32px;
    height: 100%;
}

.header {
    grid-area: header;
    position: fixed;
    width: 100%;
    background-color: var(--bg-redesigned);
}
